<p>
  <strong><%= User.human_attribute_name(:username) %>:</strong>
  <%= current_user.username %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:post_code) %>:</strong>
  <%= current_user.post_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= current_user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:profile) %>:</strong>
  <%= current_user.profile %>
</p>

<%= link_to t('views.common.back'), books_path %>
