<p>
  <strong><%= User.human_attribute_name(:username) %>:</strong>
  <%= @user.username %>
</p>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:post_code) %>:</strong>
  <%= @user.post_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:profile) %>:</strong>
  <%= @user.profile %>
</p>

<%= link_to t('views.common.back'), books_path %> | <%= link_to t('views.common.list'), users_path %>
