<h1>ユーザー詳細</h1>
<p>[名前]<%= @user.name %></p>
<p>[Eメール]<%= @user.email %></p>
<p>[郵便番号]<%= @user.zip %></p>
<p>[住所]<%= @user.address %></p>
<p>[自己紹介]<%= @user.profile %></p>
<%= link_to t('views.common.back'), users_path %>
<%= link_to t('views.common.home'), books_path %>
